* 
{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
        background-image: url(pics/cofffecupheader.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        min-height: 700px;
        position: relative;
        }

.headTitle{
  font-family: cursive;
    padding: 70px;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 2px;
}

nav{
  display: flex;
  justify-content: center;
  background-color: #1b1209;
  position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.322);
}


/* Shopping Cart icon */
.cart ion-icon{
    vertical-align: bottom;
    padding: 1px;
}


 /* Add a black background color to the top navigation */
 .topnav {
  background-color: #1b1209;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .menu-icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn{
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  color: white;
  position: absolute;
  background-color: #1b1209;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 12px;
  padding: 12px 16px
 
}

/* Add a dark background on topnav links  */
.topnav a:hover {
  background-color: #3a2614;
  color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 6;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.menu-icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  /*.topnav.responsive {position: relative;}*/
  .topnav.responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} 


/*For the tinest of phones*/
@media screen and (max-width: 355px){
  .second-nav-bar{
    position: sticky;
    top: 70px;
    }

    #search-field{
      width: 200px!important;
      font-size: 12px!important;
    }
}
/*Här börjar navigeringsfältet med sökrutan*/
.second-nav-bar{
  background-color:rgb(202, 190, 175);
  height: 70px;
  position: sticky;
  top: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
flex-wrap: wrap;
}

.below-nav{
  background-color:rgb(202, 190, 175);
  margin-top: 10px;
}

#search-field{
  padding-left: 20px;
  width: 250px;
  font-size: 14px;
  border: 1px solid black;
  background-color: #eeeeee;
}

#search-btn{
  background-image: url(pics/search.png);
  width: 26px;
  height: 27px;
  background-repeat: no-repeat;
  border: none;
  background-color: rgb(202, 190, 175);
cursor: pointer;
}

.search-not-found{
  color: red;
text-align: center;
  font-size: 12px;
}

.search-result{
  position: relative; 
  z-index: 2; 
  background-color: red;
  background-size: cover;
  height: 600px;
  width: 100%;
  z-index: 4;
  display: none;
}

.search-result-active{
  display: block;
}

.search-result-product{
  display: flex;
  padding: 100px;
  align-items: center;
  justify-content: center;

}

.x-button{
  background-color: #1b1209;
  border: none;
  border-radius: 4px;
  padding: 5px;
 position: absolute;
right: 0;
 cursor: pointer;
 margin: 10px;
 color: white;
}




/*För de webbläsare som inte stödjer grid, en s.k Fallback layout*/
main 
{
    max-width: 500px;
    margin: 0 auto; 
    padding: 1rem;
}

/* Grid code starts here*/
@supports (display: grid){
    main{
       max-width: 10000px;
        margin: 0; 
    }
    
    .deals /*Här finns hela koden för Grid*/
    {
    margin-top: 60px;
        font-family: times new roman;
        font-size: 80%; 
    }
    
    .deals
    {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem; 
    }
}

.sale-item
{
    display: flex;
    flex-flow: column;
    border: 1px solid black; 
    border-radius: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sale-item:hover{
    cursor: pointer;
}

.icon{
  position: absolute;
  height: 7%;
  margin-top: -10px;
  margin-left: 230px;
  box-shadow: none!important;

}

.sale-item img 
{
    order: -1;
    align-self: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sale-item > h1{margin: 1rem 1rem 0;}


.price-btn-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.coffee-price{
align-self: center;
border: 1px solid rgb(110, 83, 48);
padding: 10px;
border-radius: 4px;

}

.sale-item > ul li {
  margin: 7px;
  font-size: 12px;
}

.sale-item > ul {
  margin-bottom: 30px;
}

.sale-item > p 

{
    font-size: 1rem;
    margin: 0.25em 1rem 1rem; 
}

.add-cart{
    align-self: center; 
    display: block;
    width: 40%;
    transition: all 0.4s ease-in-out; 
   opacity: 0;
    cursor: pointer; 
   align-items: center;
    margin-top: auto;
    background: rgb(110, 83, 48); 
    color: white;
    padding: 0.5rem;
    border: none; 
    border-radius: 1rem;
    font-size: 1.0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sale-item:hover .cart1,
.sale-item:hover .cart2,
.sale-item:hover .cart3,
.sale-item:hover .cart4,
.sale-item:hover .cart5,
.sale-item:hover .cart6
{
    display: block;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    color: white;
} 

.sale-item > button{
    background: rgb(110, 83, 48); 
    color: white;
    padding: 0.5rem;
    border: none; 
    border-radius: 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sale-item > button:hover{
   background: rgb(180, 151, 114); 
   cursor: pointer;
}

/*Footer section on all pages*/
footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color:#1b1209;
    font-size: 0.7rem;
}
.flex-footer{
  display: flex;
  justify-content: space-between;
}


.socials-div{
  height: 60px;
  align-self: center;
}

.socials-text{
color: white;
margin-bottom: 10px;
}

.social-icon{
height: 50%;
padding: 5px;
cursor: pointer;
align-self: center;
margin-left: 4px;
}

#youtube-icon{
  height: 60%;
}



.prenumeration-container{
  order: 1;
}

.footerTitle{
    padding: 10px;
}

.footer-text{
display: inline-block;
max-width: 40%;
margin-bottom: 20px;
}

#prenumerationEmail{
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
}

form input[type="text"],[type="email"] 
{
  margin: 3px;
  opacity: 0.8;
}

form input[type="text"]:hover,[type="email"]:hover{
opacity: 1;}

form input[type="text"]:focus,[type="email"]:focus{
outline: none;
}

.submitButton{
margin: 10px;
padding: 5px;
outline: none;
border: none;
opacity: 0.7;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submitButton:hover{
margin: 10px;
cursor: pointer;
text-decoration: underline;
}

.submitButton:focus
{
   color: green;
   border: 1px solid green;
}

/* ----- Här börjar all CSS specifikt för Shopping Cart sidan -----*/ 

h3{
    margin: 30px;
}

.container-checkout{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    }

.shoppingcart-header{
width: 100%;
max-width: 650px;
display: flex;
justify-content: flex-start;
border-bottom: 4px solid black;
margin: 0 auto;
}

.product-title{
width: 45%;
}

.price-title{
width: 15%;
display: flex;
align-items: center; 
}

.quantity-title{
width: 20%;
display: flex;
align-items: center; 
}

.total-title{
width: 20%;
display: flex;
align-items: center; 
}

.products{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products ion-icon  {
    font-size: 20px;
    color: #1b1209; 
    margin-left: 10px;
    margin-right: 10px;
    cursor: poiner; 

}


.basketTotalContainer{
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
}

.delete
{
    margin-left: 35px;
    font-size: 10px;
    color: black;
    border: 1px solid #3c0b42ce;
    padding: 4px 6px 4px 6px; 
    float: right;
}
.delete:hover{
    cursor: pointer;  
}

/* CSS FOR HOVERING CART PRODUCTS */

.fly-out-box{
  position: relative;
  z-index: 6;
}

.hover-cart-price-title{
    display: flex;
    align-items: center; 
    }
.hover-cart-quantity-title{

      display: flex;
      align-items: center; 
      }
.dropdown-content > span {
  color: white;
}
.hover-basketTotalTitle{
  color: white;
}
.hover-delete
{
    margin-left: 35px;
    font-size: 8px;
    color: white;
    border: 1px solid white;
    padding: 3px 5px 3px 5px; 
    float: right;
    cursor: pointer;
    background-color: #1b1209;
}
.hover-delete:hover{
    cursor: pointer;  
    font-size: 10px;
}

.hover-basketTotalContainer{
  display: flex; 
  justify-content: flex-end;
  flex-direction: row;
  flex-basis: auto;
  margin-bottom: 5px;
}

.go-to-checkout{ 
  color: white; 
  outline: none;
  cursor: pointer;
  background-color: #1b1209;
  border: 1px solid white;
  padding: 5px;
  z-index: 8;
}



/* ------ CSS för kontakt-sidan ------ */

 /*Här börjar koden för Kontakt formuläret*/ 

 .contact-title{
   text-align: center;
 }

.contactForm
{
    position: relative;
    text-align: center;
border: none;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 30px;
}

/*Gör att input-rutorna är mjuka i kanterna*/
form input[type="text"], input[type="tel"], input[type="email"]
{
border: 1px solid black;
padding: 7px 30px 7px 2px;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bio{
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  resize: none;}


form input:focus
  {
    border: 2px solid black; 
    outline: none;
  }

.bio:focus
  {
    border: 2px solid black; 
    outline: none;
  }

/*Om man fyller i korrekt uppgifter i formuläret blir rutorna gröna*/
form input#name:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}
form input#contactEmail:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}
form input#phone:valid:not(:placeholder-shown){border: 2px solid rgb(33, 141, 33);}


form input[type="text"]:focus, input[type="email"]:focus
  {
    border: 2px solid black;
    outline: none; 
  }

/*Obligatoriska fält-texten*/
#required
{
  padding: 10px;
  font-size: 10px;
  }

  /*textrutan i kontakt forumläret */ 
.bio 
{
  margin-top: 20px;
  border-radius: 4px;
}

.contactButton
{
    font-size: 14px;
    color: black;
    Padding: 7px 12px;
    text-decoration: none;
    background-image: linear-gradient(rgb(105, 73, 24), rgb(180, 151, 114));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.541); 
    border-top: none;
    cursor: pointer; 
  }

  .contactButton:focus
  {
     text-decoration: underline;
    border-radius: 36px;
    border: 2px solid white;
    outline: none;
  }
  
  .contactButton:hover
  {
    Padding: 7px 12px;
    color: rgb(22, 21, 21);
    text-decoration: underline;
  }

/* ------ Till JavaScripts valideringen ------ */

.reply
{
  font-size: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}
.reply-active
{
    visibility: visible; 
    opacity: 1;
}

.invalidForm{

border: 1px solid red;
color: red; 
  
}

.invalidMessage{
  color: red; 

}


/* ABOUT PAGE */

.about{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-title{
font-family: cursive;
margin: 20px;
font-size: 40px;
align-self: center;
}

.emmabali{
  margin: 20px;
  border-radius: 4px;
}

.about-text{
margin: 30px;
line-height: 1.5em;
}

.about-coffee-beans{
  height: 50%;
  width: 50%;
  margin: 0 auto;
  border-radius: 4px;
}

.coffee-plant{
border-radius: 4px;
}